/* ATRIBUTES */
.flex{
    display: flex;
  }
  
.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.gap-00_5{
    gap: 0.5rem;
}

.gap-01{
    gap: 1rem;
}

.gap-01_5{
    gap: 1.5rem;
}

.gap-02{
    gap: 2rem;
}

.justify-evenly{
    justify-content: space-evenly;
}

.justify-around{
    justify-content: space-around;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-evenly{
    align-items: space-evenly;
}

.align-around{
    align-items: space-around;
}

.align-between{
    align-items: space-between;
}

.align-center{
    align-items: center;
}

.height-fitContent{
    height: fit-content;
}

.margin-top-00_5{
    margin-top: 0.5rem;
}

.margin-top-01{
    margin-top: 1rem;
}

.margin-top-01_5{
    margin-top: 1.5rem;
}

.margin-top-02{
    margin-top: 2rem;
}

.cursor-pointer{
    cursor: pointer;
}

.hiddenTransition{
    transform: translateY(-100vh);
    opacity: 0;
}

.hiddenScale{
    transform: scale(0.0);
    opacity: 0;
}